<template id="agitadmin-editview">

    <div class="editview-header title container">
        <span class="control back">
            <a class="fa fa-caret-left" href="#!/list"><span>{{ t("switch to overview") }}<span></a>
        </span>

        <h1><span></span> › {{ t("Edit") }}</h1>

        <span class="control show-nav">
            <a class="fa fa-navicon"></a>
        </span>
    </div>


    <form class="editview-form edit-form container" method="post" action="">
        <table>
            <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-default" type="reset">{{ t("reset") }}</button>
                        <button class="btn btn-primary" type="submit">{{ t("save") }}</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>

    <table class="dummy">
        <tbody class="editview-form-row">
            <tr>
                <th scope="row">
                    <label></label>
                    <span class="optional">{{ t("(optional)") }}</span>
                </th>
                <td>
                    <div class="field"></div>
                    <div class="description"></div>
                </td>
            </tr>
        </tbody>
        <tbody class="editform-subhead subhead">
            <tr>
                <td colspan="2">
                    <h2></h2>
                </td>
            </tr>
        </tbody>
    </table>
</template>
