<template id="agitadmin-listview">

    <div class="listview-header title container">
        <span class="control show-nav only-handheld">
            <a class="fa fa-navicon"></a>
        </span>
        <h1><span></span> › {{ t("Overview") }}</h1>
        <div class="actions not-handheld">
            <div class="action create">
                <a class="btn btn-primary" href="#!/edit?new">{{ t("create new") }}</a>
            </div>

            <form class="action goto form-inline">
                <div class="input-group">
                    <input class="form-control" type="text" name="id" value="" placeholder="{{ t("ID") }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default">{{ t("edit") }}</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="more container">
        <div class="ind"></div>
        <div>{{ t("loading more items …") }}</div>
    </div>

    <form class="listview-search container">
        <table>
            <tr class="captions">
                <th></th>
                <td class="actions"></td>
            </tr>
            <tr class="fields">
                <th>{{ t("Search") }}</th>

                <td class="actions">
                    <button type="submit" class="btn btn-info">{{ t("Update list") }}</button>
                    <a>{{ t("Reset parameters") }}</a>
                </td>
            </tr>
        </table>
    </form>

    <div class="listview-table container">
        <div class="extra">
            <div class="exporter"></div>
        </div>

        <table>
            <thead><tr></tr></thead>
            <tbody>
                <tr>
                    <td></td>
                    <td class="actions"></td>
                </tr>
                <tr class="noresults">
                    <td>{{ t("This list is currently empty. Please modify your search or create a new object.") }}</td>
                </tr>
            </tbody>
            <tfoot><tr></tr></tfoot>
        </table>
    </div>

    <table class="dummy"><tr>
        <td class="caption">
            <label></label>
        </td>
    </tr></table>
</template>
