<template id="agitadmin-editview">
    <div class="editview-header">
        <h2>{{ t("Edit") }}</h2>
        <p><a href="#!/list">‹ {{ t("switch to overview") }}</a></p>
    </div>

    <form class="editview-form" method="post" action="">
        <table>
            <tbody>
                <tr>
                    <th scope="row">
                        <label></label>
                        <span class="optional">{{ t("(optional)") }}</span>
                    </th>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-default" type="reset">{{ t("reset") }}</button>
                        <button class="btn btn-primary" type="submit">{{ t("submit") }}</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</template>
