<template id="agitadmin-forms">
    <div class="readonly">
        <span class="empty">{{ t("This value will be set on the server after saving the object.") }}</span>
    </div>

    <table class="onetomany">
        <caption>{{ t("Please add one or more entries to this list.") }}</caption>
    </table>

    <table class="form-modal">
        <tr>
            <th></th>
            <td></td>
        </tr>
    </table>

    <table class="key-value">
        <tbody></tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <a class="moreless more">{{ t("show all …") }}</a>
                    <a class="moreless less">{{ t("collapse …") }}</a>
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="clone-modal-header">{{ t("Please enter the main properties of the new object.") }}</div>
    <div class="clone-modal-info">{{ t("Note: You can edit other properties of the new object later.") }}</div>

    <div class="tag">
        <i class="fa fa-square-o off onoff"></i>
        <i class="fa fa-check-square-o on onoff"></i>
        <i class="fa fa-lock locked"></i>
        <span></span>
    </div>

    <table class="dummy">
        <tr class="key-value-row mono">
            <th></th>
            <td></td>
        </tr>
    </table>


</template>
